.dropright-nav {
    ul {
        max-width: 1240px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        align-self: center;
        list-style: none;
        font-weight: 300;
        box-shadow: 5px 5px 10px grey;

        li {
            float: left;
            transition: border .5s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: rgba(249, 249, 249, .9);
        }
    }

    i {
        /* Make the font smoother for Chrome */
        transform: translate3d(0, 0, 0);
    }

    /* Hover effect for the whole navigation to make the hovered item stand out */
    ul:hover li {
        color: rgba(249, 249, 249, .5);
    }

    ul:hover li:hover {
        color: rgba(249, 249, 249, 0.99);
    }


    li:nth-child(4n+1) {
        background: rgb(22, 145, 190);
    }

    li:nth-child(4n+2) {
        background: rgb(22, 107, 162);
    }

    li:nth-child(4n+3) {
        background: rgb(27, 54, 71);
    }

    li:nth-child(4n+4) {
        background: rgb(21, 40, 54);
    }
}

@media (min-width: 1300px) {
    .dropright-nav li {
        width: 180px !important;
        padding: 19px !important;
    }
}

@media (min-width: 640px) {
    .dropright-nav {
        i {
            /* Positioning the icons in the circle */
            position: relative;
            display: inline-block;
            margin: 0 auto;
            padding: 0.4em;
            border-radius: 50%;
            font-size: 1.8em;
            box-shadow: 0 0 0 0.8em transparent;
            background: rgba(255,255,255,0.1);
            transform: translate3d(0, 0, 0);
            transition: box-shadow .6s ease-in-out;
        }
        li {
            text-align: center;
            span {
                display: block;
            }
        }
    }
}


@media (min-width: 1080px) {
    .dropright-nav li {
        width: 156px;
        padding: 20px;
    }
}


@media (min-width: 800px) and (max-width: 1080px) {
    .dropright-nav li {
        width: 120px;
        padding: 11px;
    }
}

/* Adapting the font size and width for smaller screns*/
@media (min-width: 640px) and (max-width: 800px) {
    .dropright-nav li {
        width: 95px;
        padding: 9px;
    }
}

@media (max-width: 640px) {

    /* Adapting the layout of the menu for smaller screens: icon on the left and text on the right */
    .dropright-nav ul {
        display: inline-block !important;
    }

    .dropright-nav li {
        width: 200px;
        padding: 0.5em;
        display: block !important;
    }

    .icon + span {
        margin-left: 1em;
    }
    /* Adding a left border of 8 px with a different color for each menu item*/
    .dropright-nav li:nth-child(4n+1) {
        border-left: 8px solid rgb(13, 111, 150);
    }

    .dropright-nav li:nth-child(4n+2) {
        border-left: 8px solid rgb(10, 75, 117);
    }

    .dropright-nav li:nth-child(4n+3) {
        border-left: 8px solid rgb(16, 34, 44);
    }

    .dropright-nav li:nth-child(4n+ 4) {
        border-left: 8px solid rgb(9, 18, 25);
    }
}


