.body {
    margin-top: 40px;
    position: relative;
}

.filters-menu {
    display: none;
    font-weight: 300;
    font-family: "HelveticaNeue Thin", "Helvetica", Helvetica, Arial, sans-serif;
    font-stretch: normal;
    position: absolute;
    left: 0px;
    top: -40px;
    z-index: 10000;
    box-shadow: 5px 5px 10px lightgrey;
    > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: #f7f7f7;
        > li {
            display: block;
            color: #999;
            position: relative;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(0,0,0,0.05);
            -webkit-transition: background 0.1s ease-in-out;
            -moz-transition: background 0.1s ease-in-out;
            transition: background 0.1s ease-in-out;
            &:nth-child(odd) {
                background: white;
                &:hover {
                    background: #47a3da;
                    color: #fff;
                }
            }
            &:nth-child(even) {
                background: #e8e7e6;
                &:hover {
                    background: #47a3da;
                    color: #fff;
                }
            }
        }
    }
    .filter-item.active {
      background: #47a3da;
      color: #fff;
    }
    &.active {
        display: block;
        // display: inline-block;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .visible-container {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    &:not(.hasActiveChildren) .hover .dropright, .filter-item.active .dropright{
        display: block;
    }
    .dropright {
        padding: 0;
        margin: 0;
        position: absolute;
        left: 100%;
        top: -1px;
        display: none;
    }
}

.filters-toggle {
    position: absolute;
    left: 0px;
    top: -40px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #47a3da;
    color: #fff;
}

.sidebar-container {
  display: inline-block;
}


@media (min-width: 1080px) {
  .filters-menu {
    font-size: 18px;
    > ul > li {
        min-width: 280px;
    }
  }
}
@media (min-width: 800px) and (max-width: 1080px) {
  .filters-menu {
    font-size: 16px;
    > ul > li {
        min-width: 200px;
    }
  }
}
@media (min-width: 640px) and (max-width: 800px) {
  .filters-menu {
    font-size: 14px;
    > ul > li {
        min-width: 150px;
    }
  }
}
@media (max-width: 640px) {
  .filters-menu {
    font-size: 12px;
    > ul > li {
        min-width: 100px;
    }
  }
}
